.documentCellIcon {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    color: var(--g-color-private-white-opaque-150);
    background: var(--g-color-base-brand);
    display: flex;
    align-items: center;
    justify-content: center;
}
